<script setup lang="ts">
import { ref } from "vue";
const massage = ref("Hello World");
function reverseMessage() {
  massage.value = massage.value.split("").reverse().join("");
}
function notify() {
  alert("navigation was prevented.");
}
</script>

<template>
  <h1>{{ massage }}</h1>
  <button @click="reverseMessage">Reverse massage</button>
  <button @click="massage += '!'">Append "!"</button>
  <a href="https://vuejs.org" @click.prevent="notify"
    >A link with e.preventDefault</a
  >
</template>

<style scoped>
button,
a {
  display: block;
  margin-bottom: 1em;
}
</style>
